# AI API Keys - 只在服务器端使用，不会暴露给前端
GEMINI_API_KEY=AIzaSyCyXrZm3LD54wNQbupLdNZVT_scSb0sv60
MISTRAL_API_KEY=OqEfhtwTTT195XCDeK3DaJhEUE7OxGQ4
REKA_API_KEY=bf0b77f95200a6475cc8e4f2d62e5c608b5a8eed2f1f59a761e305317b931e16

# Hugging Face Token - 用于访问私有Space
HF_TOKEN=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

# Next.js 环境变量
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# 部署配置
VERCEL_URL=your_vercel_url_here
